<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-card-content>



      <icon-card>
        <img src="assets/ionicLogo.png" class="ion-padding">
      </icon-card>

      <br>
      <br>

      <icon-card>
        <img src="assets/duoc.jpg" class="ion-padding">
      </icon-card>


    </ion-card-content>


 
  <!--
  <ion-button routerLink="/alert">
    Alert
  </ion-button>

  <ion-button routerLink="/action-sheet">
    Action Sheet
  </ion-button>-->

</ion-content>
