<ion-header>
  <!-- TOOLBAR -->
  <ion-toolbar color="colortoolbar">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Generar QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>


      <ion-card-title class="titulo">
        Profesor
      </ion-card-title>
      <ion-card-header class="alinear">
        <ion-card-title>Pedro Pascal</ion-card-title>
      </ion-card-header>
      <br>
      <ion-button expand="full" fill="solid" shape="round">
        Generar QR
      </ion-button>






    </ion-card-content>
  </ion-card>
</ion-content>