<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-title>Quienes somos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card>
    <ion-card-header>
      <ion-card-subtitle> Quienes somos</ion-card-subtitle>
      <ion-card-title>  Smart Register DUOCUC</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="parrafo">
        Somos un par de estudiantes de DUOC UC Sede Maipú, de la carrera Analista Programador.
        Estamos enfocados en mejorar el registro de asistencia a clases para todos quienes lo necesiten, enfocandonos en las necesidades tanto de profesores como alumnos.
        Este proyecto no incluye fines de lucro (Por ahora).
        Espero les guste nuestra APP.
      </p>
    </ion-card-content>
   </ion-card>



</ion-content>
